In [1]:
from os import listdir
from os.path import isfile, join
import pandas as pd

In [2]:
path_base_original_real="C:\dataset\original_dataset\\real"
path_base_original_fake="C:\dataset\original_dataset\\fake"
fullpath_fake=path_base_original_fake+"\\fake.csv"
path_base_modified="C:\dataset\processed_datatset"
fullpath_modified=path_base_modified+"\\total_dataset.csv"
originaldataset_real = [f for f in listdir(path_base_original_real) if isfile(join(path_base_original_real, f))]
print(originaldataset_real)

originaldataset_fake = [f for f in listdir(path_base_original_fake) if isfile(join(path_base_original_fake, f))]
print(originaldataset_fake)

['articles1.csv', 'articles2.csv', 'articles3.csv']
['fake.csv']

In [3]:
# 0--fake
# 1--real
l=list()
for i in originaldataset_real:
    fullpath_real=path_base_original_real+"\\"+i
    df=pd.read_csv(fullpath_real,usecols=[2,9])
    df["label"]=1
#     print(df.head(5))
    l.append(df)
    
    
df=pd.read_csv(fullpath_fake,usecols=[4,5])
df.rename(columns=({'text':'content'}),  inplace=True )
df["label"]=0
# print(df.head(5))
l.append(df)
df= pd.concat(l)
# print(df.head(5))
# print(df.shape)
df.to_csv(fullpath_modified,index=False,encoding="utf8")

In [4]:
 df.dropna(subset=['title','content'], inplace=True)

In [5]:
df.shape

(154841, 3)

In [6]:
bool_have_null =pd.isnull(df['content'])
df[bool_have_null]

Empty DataFrame
Columns: [title, content, label]
Index: []

In [7]:
bool_have_null =pd.isnull(df['title'])
df[bool_have_null]

Empty DataFrame
Columns: [title, content, label]
Index: []