In [191]:
from os import listdir
from os.path import isfile, join
import pandas as pd

path_base_original_real="C:\dataset\original_dataset\\real"
path_base_original_fake="C:\dataset\original_dataset\\fake"
fullpath_fake=path_base_original_fake+"\\fake.csv"
path_base_modified="C:\dataset\processed_datatset"
fullpath_modified=path_base_modified+"\\total_dataset.csv"
path_modified_onlyreal=path_base_modified+"\\real_dataset.csv"
path_modified_onlyfake=path_base_modified+"\\fake_dataset.csv"


originaldataset_real = [f for f in listdir(path_base_original_real) if isfile(join(path_base_original_real, f))]
print(originaldataset_real)

originaldataset_fake = [f for f in listdir(path_base_original_fake) if isfile(join(path_base_original_fake, f))]
print(originaldataset_fake)

mofified_data = [f for f in listdir(path_base_modified) if isfile(join(path_base_modified, f))]
print(mofified_data)

!pip install gensim
!pip install lightgbm

import re 
import nltk
# nltk.download('stopwords')
from nltk.corpus import stopwords 
from nltk.stem.porter import PorterStemmer
from gensim.models import word2vec

['articles1.csv', 'articles2.csv', 'articles3.csv']
['fake.csv']
['fake_dataset.csv', 'real_dataset.csv', 'total_dataset.csv']
Requirement already satisfied: gensim in d:\setup_files_2\anaconda3\lib\site-packages (3.8.1)
Requirement already satisfied: numpy>=1.11.3 in d:\setup_files_2\anaconda3\lib\site-packages (from gensim) (1.16.5)
Requirement already satisfied: six>=1.5.0 in d:\setup_files_2\anaconda3\lib\site-packages (from gensim) (1.12.0)
Requirement already satisfied: smart-open>=1.8.1 in d:\setup_files_2\anaconda3\lib\site-packages (from gensim) (1.9.0)
Requirement already satisfied: scipy>=0.18.1 in d:\setup_files_2\anaconda3\lib\site-packages (from gensim) (1.3.1)
Requirement already satisfied: boto>=2.32 in d:\setup_files_2\anaconda3\lib\site-packages (from smart-open>=1.8.1->gensim) (2.49.0)
Requirement already satisfied: requests in d:\setup_files_2\anaconda3\lib\site-packages (from smart-open>=1.8.1->gensim) (2.22.0)
Requirement already satisfied: boto3 in d:\setup_files_2\anaconda3\lib\site-packages (from smart-open>=1.8.1->gensim) (1.11.13)
Requirement already satisfied: chardet<3.1.0,>=3.0.2 in d:\setup_files_2\anaconda3\lib\site-packages (from requests->smart-open>=1.8.1->gensim) (3.0.4)
Requirement already satisfied: certifi>=2017.4.17 in d:\setup_files_2\anaconda3\lib\site-packages (from requests->smart-open>=1.8.1->gensim) (2019.9.11)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in d:\setup_files_2\anaconda3\lib\site-packages (from requests->smart-open>=1.8.1->gensim) (1.24.2)
Requirement already satisfied: idna<2.9,>=2.5 in d:\setup_files_2\anaconda3\lib\site-packages (from requests->smart-open>=1.8.1->gensim) (2.8)
Requirement already satisfied: s3transfer<0.4.0,>=0.3.0 in d:\setup_files_2\anaconda3\lib\site-packages (from boto3->smart-open>=1.8.1->gensim) (0.3.3)
Requirement already satisfied: botocore<1.15.0,>=1.14.13 in d:\setup_files_2\anaconda3\lib\site-packages (from boto3->smart-open>=1.8.1->gensim) (1.14.13)
Requirement already satisfied: jmespath<1.0.0,>=0.7.1 in d:\setup_files_2\anaconda3\lib\site-packages (from boto3->smart-open>=1.8.1->gensim) (0.9.4)
Requirement already satisfied: docutils<0.16,>=0.10 in d:\setup_files_2\anaconda3\lib\site-packages (from botocore<1.15.0,>=1.14.13->boto3->smart-open>=1.8.1->gensim) (0.15.2)
Requirement already satisfied: python-dateutil<3.0.0,>=2.1 in d:\setup_files_2\anaconda3\lib\site-packages (from botocore<1.15.0,>=1.14.13->boto3->smart-open>=1.8.1->gensim) (2.8.0)
Requirement already satisfied: lightgbm in d:\setup_files_2\anaconda3\lib\site-packages (2.3.1)
Requirement already satisfied: scikit-learn in d:\setup_files_2\anaconda3\lib\site-packages (from lightgbm) (0.21.3)
Requirement already satisfied: numpy in d:\setup_files_2\anaconda3\lib\site-packages (from lightgbm) (1.16.5)
Requirement already satisfied: scipy in d:\setup_files_2\anaconda3\lib\site-packages (from lightgbm) (1.3.1)
Requirement already satisfied: joblib>=0.11 in d:\setup_files_2\anaconda3\lib\site-packages (from scikit-learn->lightgbm) (0.13.2)

In [192]:
import seaborn as sns
color = sns.color_palette()

In [193]:
fullpath_modified_testing=path_base_modified+"\\total_dataset.csv"
df_total=pd.read_csv(fullpath_modified_testing)

In [194]:
df_total.head()

,title,content,label
0,House Republicans Fret About Winning Their Hea...,WASHINGTON — Congressional Republicans have...,1
1,Rift Between Officers and Residents as Killing...,"After the bullet shells get counted, the blood...",1
2,"Tyrus Wong, ‘Bambi’ Artist Thwarted by Racial ...","When Walt Disney’s “Bambi” opened in 1942, cri...",1
3,"Among Deaths in 2016, a Heavy Toll in Pop Musi...","Death may be the great equalizer, but it isn’t...",1
4,Kim Jong-un Says North Korea Is Preparing to T...,"SEOUL, South Korea — North Korea’s leader, ...",1

In [195]:
from nltk.stem import WordNetLemmatizer 
lemmatizer = WordNetLemmatizer() 
nltk.download('wordnet')

[nltk_data] Downloading package wordnet to C:\Users\NEERAJ
[nltk_data]     KUMAR\AppData\Roaming\nltk_data...
[nltk_data]   Package wordnet is already up-to-date!

True

In [196]:
def cleaningbody(txt):
    
    review = txt.split()
    if len(review)<15:
        return None
    
    review = re.sub('[^a-zA-Z]', ' ', txt) # Cleans all except characters
    review = review.lower()
    review = review.split()
    review = [lemmatizer.lemmatize(word) for word in review if not word in set(stopwords.words('english'))]
#     if review.size()<
#     ps = PorterStemmer()
#     review = [ps.stem(word) for word in review if not word in set(stopwords.words('english'))]
    review = ' '.join(review)
    return review

In [197]:
def cleaningtitle(txt):
    
    review = txt.split()
    if len(review)<5:
        return None
    
    review = re.sub('[^a-zA-Z]', ' ', txt) # Cleans all except characters
    review = review.lower()
    review = review.split()
    review = [lemmatizer.lemmatize(word) for word in review if not word in set(stopwords.words('english'))]
#     ps = PorterStemmer()
#     review = [ps.stem(word) for word in review if not word in set(stopwords.words('english'))]
    review = ' '.join(review)
    return review

In [198]:
# path_modified_onlyreal
smallerset_real=path_base_modified+"smallerset_real.csv"
df_real=pd.read_csv(path_modified_onlyreal)
df_real_sample =df_real.sample(n=1000)
df_real_sample.to_csv(smallerset_real,index=False,encoding="utf8")




# path_modified_onlyfake
# smallerset_fake=path_base_modified+"smallerset_fake.csv"
# df_fake=pd.read_csv(path_modified_onlyfake)
# df_fake_sample =df_real.sample(n=1000)
# df_fake_sample.to_csv(smallerset_fake,index=False,encoding="utf8")

In [199]:

# path_modified_onlyfake
smallerset_fake=path_base_modified+"smallerset_fake.csv"
df_fake=pd.read_csv(path_modified_onlyfake)
df_fake_sample =df_real.sample(n=1000)
df_fake_sample.to_csv(smallerset_fake,index=False,encoding="utf8")

In [200]:
# step 2  reg , lower
df_real_sample['title'] = df_real_sample['title'].apply(lambda x: cleaningtitle(x))
df_real_sample['content'] = df_real_sample['content'].apply(lambda x: cleaningbody(x))
df_real_sample.to_csv(smallerset_real,index=False,encoding="utf8")



# df_fake_sample.to_csv(smallerset_fake,index=False,encoding="utf8")

In [201]:
# step 2  reg , lower
df_fake_sample['title'] = df_fake_sample['title'].apply(lambda x: cleaningtitle(x))
df_fake_sample['content'] = df_fake_sample['content'].apply(lambda x: cleaningbody(x))

df_fake_sample.to_csv(smallerset_fake,index=False,encoding="utf8")

In [202]:
# path_base_modified="C:\dataset\processed_datatset"
 

# path_modified_onlyreal_merged heading body
smallerset_real_merged=path_base_modified+"smallerset_real_merged.csv"
df_real_merged=pd.read_csv(smallerset_real,usecols=[1])
df_real_merged.to_csv(smallerset_real_merged,index=False,encoding="utf8")

In [203]:
df_real_merged.shape

(1000, 1)

In [204]:
df_real_merged.head()

                                             content
0  npr invited observe two focus group swing vote...
1  president donald trump first official budget d...
2  phew really right night fair much better right...
3  jared grusd ceo huffington post spoke dublin t...
4  thursday press conference announce pick alexan...

In [205]:
df_real_merged.to_csv(smallerset_real_merged,index=False,encoding="utf8")

In [206]:
smallerset_fake_merged=path_base_modified+"smallerset_fake_merged.csv"
df_fake_merged=pd.read_csv(smallerset_fake,usecols=[1])
df_fake_merged.to_csv(smallerset_fake_merged,index=False,encoding="utf8")

In [222]:
print(df_real_merged.shape)
df_real_merged.dropna(subset=['content'], inplace=True)
print(df_real_merged.shape)


print(df_fake_merged.shape)
df_fake_merged.dropna(subset=['content'], inplace=True)
print(df_fake_merged.shape)



# real_tokens= nltk.word_tokenize(" ".join(df_real_merged.content.tolist()))

(998, 1)
(998, 1)
(1000, 1)
(998, 1)

In [223]:
real_tokens= nltk.word_tokenize(" ".join(df_real_merged.content.tolist()))

In [224]:
len(real_tokens)

406055

In [225]:
type(real_tokens)

list

In [214]:
# real_tokens = real_tokens[1:100]

In [226]:
from collections import Counter

In [227]:
word_count_dict= Counter(real_tokens)

In [228]:
# type(word_count_dict)
word_count_dict =dict(word_count_dict)
df1 = pd.DataFrame(word_count_dict,index=[0])
# df1 = df1.rename(columns={'index':'word', 0:'count'})
# df1.set_index('word')

In [229]:
df1.head()

,npr,invited,observe,two,focus,group,swing,voter,ohio,arizona,...,standouts,samurai,riz,weitz,gilroy,droid,reprogrammed,tudyk,snappy,imperfection
0,47,25,8,904,104,559,21,292,57,76,...,1,1,1,1,1,1,1,1,1,1

In [230]:
# print(df1.shape)
# df_t =df1.T
# df1=df_t
# print(df1.shape)


smallerset_real_count=path_base_modified+"smallerset_real_count.csv"
df1.to_csv(smallerset_real_count,index=False,encoding="utf8")
print(df1.shape)

(1, 28822)

In [189]:

# df1.set_index('word')

In [233]:
fake_tokens= nltk.word_tokenize(" ".join(df_fake_merged.content.tolist()))
print(len(fake_tokens))
word_count_dict= Counter(fake_tokens)
word_count_dict =dict(word_count_dict)

df2 = pd.DataFrame(word_count_dict,index=[0])
print(df2.shape)

385899
(1, 27720)

In [234]:
# df2=df2.T
# df2.shape
# df2.set_index('word')

In [235]:
smallerset_fake_count=path_base_modified+"smallerset_fake_count.csv"
df2.to_csv(smallerset_fake_count,index=False,encoding="utf8")

In [236]:
del df_real_merged
del df_fake_merged
del real_tokens
del fake_tokens






# df=pd.concat([df1,df2] ,ignore_index=True, sort=False)

In [237]:
df1.head()

,npr,invited,observe,two,focus,group,swing,voter,ohio,arizona,...,standouts,samurai,riz,weitz,gilroy,droid,reprogrammed,tudyk,snappy,imperfection
0,47,25,8,904,104,559,21,292,57,76,...,1,1,1,1,1,1,1,1,1,1

In [238]:
df2.head()

,cnn,adele,swept,top,honor,th,annual,grammy,award,night,...,witwit,sihha,amro,meudt,bloodletting,exporter,patrolled,qatari,maher,chmaytelli
0,294,17,13,224,38,135,41,9,54,349,...,1,1,1,1,1,1,1,1,1,1

In [248]:
df=pd.concat([df1,df2] ,ignore_index=True, sort=False)
df.head()

,npr,invited,observe,two,focus,group,swing,voter,ohio,arizona,...,innis,csula,iskandar,witwit,sihha,amro,meudt,bloodletting,qatari,chmaytelli
0,47,25,8,904,104,559,21,292,57,76,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,63,21,5,919,105,624,27,317,63,45,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0

In [249]:
smaller_final_token=path_base_modified+"smaller_final_token.csv"
df.to_csv(smaller_final_token,index=False,encoding="utf8")

In [250]:
df.isnull().sum().sum()

20872

In [251]:
for i in range(len(df.index)) :
    print("Nan in row ", i , " : " ,  df.iloc[i].isnull().sum())

Nan in row  0  :  9885
Nan in row  1  :  10987

In [252]:
df.fillna(0,inplace=True)

In [253]:
df.isnull().sum().sum()

0

In [254]:
for i in range(len(df.index)) :
    print("Nan in row ", i , " : " ,  df.iloc[i].isnull().sum())

Nan in row  0  :  0
Nan in row  1  :  0

In [255]:
smaller_final_token=path_base_modified+"smaller_final_token.csv"
df.to_csv(smaller_final_token,index=False,encoding="utf8")

In [256]:
df.head()

,npr,invited,observe,two,focus,group,swing,voter,ohio,arizona,...,innis,csula,iskandar,witwit,sihha,amro,meudt,bloodletting,qatari,chmaytelli
0,47,25,8,904,104,559,21,292,57,76,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,63,21,5,919,105,624,27,317,63,45,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0

In [259]:
df['y']=[0,1]

In [260]:
df.head()

,npr,invited,observe,two,focus,group,swing,voter,ohio,arizona,...,csula,iskandar,witwit,sihha,amro,meudt,bloodletting,qatari,chmaytelli,y
0,47,25,8,904,104,559,21,292,57,76,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
1,63,21,5,919,105,624,27,317,63,45,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1

In [257]:
from sklearn.naive_bayes import MultinomialNB

In [258]:
classifier =MultinomialNB()

In [268]:
# df[df.columns[-1]]
# df[df.columns[:-1]] 
classifier.fit(df[df.columns[:-1]] , df[df.columns[-1]])

MultinomialNB(alpha=1.0, class_prior=None, fit_prior=True)

In [270]:
check="â€™  â€™ â€™   A Fox News poll released Friday confirmed what  in the   aftermath of the first presidential debate: Hillary Clinton   prevailed over Donald Trump in the affair, and she has seen a   slight overall national bump because of it. â€™ â€™   The poll, which was conducted entirely after the debate, found   that 61% of voters who watched the debate viewed Clinton as the   winner. Just 21% thought Trump came out on top. â€™ â€™   Clinton also experienced a slight improvement among likely voters   nationally, according to the poll. She was up 5 points in a      matchup, 49% to 44% and 3 points in a   race   that included Libertarian nominee Gary Johnson and Green Party   nominee Jill Stein. â€™ â€™   Both were improvements for Clinton from the previous Fox News   survey,  in a     race and trailing by 1 in the   matchup. â€™ â€™   The Fox News survey is especially noteworthy because of the way    to   online,     polls to make the case that   Trump came out of the debate victorious. The Trump campaign and   its surrogates have also cited those online polls to claim   victory. â€™ â€™â€™ â€™   Dana Blanton, the vice president of   research at   Fox News,  to remind them that online polls   â€do not meet our editorial standards.â€ Host Sean Hannity, a   vehement Trump supporter, has continued to cite such polls   despite the memo. â€™ â€   Respondents from at least five other polls  â€”   from       Consult,   Public   Policy Polling, and Gallup  â€”   have all declared Clinton the   winner. Gallup  Clintonâ€™s perceived debate win to   be among the largest in modern campaign history. â€ â€™   The Fox News poll released Friday surveyed 1, 009 registered   voters from September 27 to 29. â€™"

In [271]:
cleaned = cleaningbody(check)

In [283]:
cleaned

'fox news poll released friday confirmed aftermath first presidential debate hillary clinton prevailed donald trump affair seen slight overall national bump poll conducted entirely debate found voter watched debate viewed clinton winner thought trump came top clinton also experienced slight improvement among likely voter nationally according poll point matchup point race included libertarian nominee gary johnson green party nominee jill stein improvement clinton previous fox news survey race trailing matchup fox news survey especially noteworthy way online poll make case trump came debate victorious trump campaign surrogate also cited online poll claim victory dana blanton vice president research fox news remind online poll meet editorial standard host sean hannity vehement trump supporter continued cite poll despite memo respondent least five poll consult public policy polling gallup declared clinton winner gallup clinton perceived debate win among largest modern campaign history fox news poll released friday surveyed registered voter september'

In [284]:
d =Counter(cleaned.split())

In [285]:
word_count_dict =dict(d)
df3 = pd.DataFrame(word_count_dict,index=[0])

In [286]:
df3

,fox,news,poll,released,friday,confirmed,aftermath,first,presidential,debate,...,gallup,declared,perceived,win,largest,modern,history,surveyed,registered,september
0,5,5,9,2,2,1,1,1,1,5,...,2,1,1,1,1,1,1,1,1,1

In [293]:
y=df.y
df=df.drop('y',axis=1)
from sklearn.feature_extraction.text import CountVectorizer
vectorizer =CountVectorizer()
trainx=vectorizer.fit_transform(df)
testx=vectorizer.transform(df3)

In [294]:
trainx.shape

(38707, 38684)

In [295]:
testx.shape

(100, 38684)

In [296]:
from sklearn.naive_bayes import MultinomialNB
classifier =MultinomialNB()

In [ ]:
classifier.fit(trainx,ytrain)

In [240]:



# df=pd.concat([df1,df2] ,ignore_index=True, sort=False)
# df.head()

In [162]:
df2.head()

,0,1,2,3,4,5,6,7,8,9,...,28389,28390,28391,28392,28393,28394,28395,28396,28397,28398
word,western,music,may,changing,world,happened,russia,luck,state,censorship,...,mallika,lanka,sinhalese,multilingual,revoking,criminalization,picturesque,cambridgeshire,overhearing,domesday
count,86,118,606,41,563,146,237,15,1528,6,...,4,1,1,1,1,1,1,1,1,1

In [169]:
df=pd.concat([df1,df2] ,ignore_index=True, sort=False,axis=0)
df.head()

,0,1,2,3,4,5,6,7,8,9,...,28389,28390,28391,28392,28393,28394,28395,28396,28397,28398
0,robotic,technology,rapidly,advance,scientist,look,improve,synthetic,smart,skin,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2,96,25,51,68,335,38,2,50,30,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,western,music,may,changing,world,happened,russia,luck,state,censorship,...,mallika,lanka,sinhalese,multilingual,revoking,criminalization,picturesque,cambridgeshire,overhearing,domesday
3,86,118,606,41,563,146,237,15,1528,6,...,4,1,1,1,1,1,1,1,1,1

In [166]:
# df.head()

In [170]:
df1.columns

RangeIndex(start=0, stop=27286, step=1)

In [134]:
df1.columns

RangeIndex(start=0, stop=27286, step=1)

In [97]:
smallerset_real_count=path_base_modified+"smallerset_real_count.csv"
df.to_csv(smallerset_real_count,index=False,encoding="utf8")

In [24]:
from sklearn.feature_extraction.text import CountVectorizer

In [58]:
vectorizer =CountVectorizer(analyzer="word", max_features=100)
real_data_features =vectorizer.fit_transform(real_tokens)

In [59]:
del df_total
del df_real_sample
del df_fake_sample

NameError: name 'df_total' is not defined

In [60]:
type(real_data_features)

# real_word_counter  =real_data_features.toarray()

scipy.sparse.csr.csr_matrix

In [61]:
real_data_features

<391189x100 sparse matrix of type '<class 'numpy.int64'>'
	with 73494 stored elements in Compressed Sparse Row format>

In [46]:
#  real_word_counter  =real_data_features.toarray()

MemoryError:

In [62]:
real_data_features[1]

<1x100 sparse matrix of type '<class 'numpy.int64'>'
	with 0 stored elements in Compressed Sparse Row format>

In [63]:
real_data_features[1][0]

<1x100 sparse matrix of type '<class 'numpy.int64'>'
	with 0 stored elements in Compressed Sparse Row format>

In [64]:
real_data_features

<391189x100 sparse matrix of type '<class 'numpy.int64'>'
	with 73494 stored elements in Compressed Sparse Row format>

In [65]:
real_data_features.shape

(391189, 100)

In [67]:
df_countes =pd.DataFrame(real_data_features.todense())

In [68]:
smallerset_real_count=path_base_modified+"smallerset_real_count.csv"
df_countes.to_csv(smallerset_real_count,index=False,encoding="utf8")