In [1]:
from os import listdir

In [2]:

from os.path import isfile, join

In [3]:
path="C:\dataset"
onlyfiles = [f for f in listdir(path) if isfile(join(path, f))]
print(onlyfiles)

['articles1.csv', 'articles2.csv', 'articles3.csv', 'fake.csv']

In [4]:
import xlsxwriter

In [5]:
import pandas as pd

In [7]:
df_articles_1=pd.read_csv(path+"\\articles1.csv")

In [8]:
df_articles_1.shape

(50000, 10)

In [11]:
df_articles_1.head(5)

,Unnamed: 0,id,title,publication,author,date,year,month,url,content
0,0,17283,House Republicans Fret About Winning Their Hea...,New York Times,Carl Hulse,2016-12-31,2016.0,12.0,NaN,WASHINGTON — Congressional Republicans have...
1,1,17284,Rift Between Officers and Residents as Killing...,New York Times,Benjamin Mueller and Al Baker,2017-06-19,2017.0,6.0,NaN,"After the bullet shells get counted, the blood..."
2,2,17285,"Tyrus Wong, ‘Bambi’ Artist Thwarted by Racial ...",New York Times,Margalit Fox,2017-01-06,2017.0,1.0,NaN,"When Walt Disney’s “Bambi” opened in 1942, cri..."
3,3,17286,"Among Deaths in 2016, a Heavy Toll in Pop Musi...",New York Times,William McDonald,2017-04-10,2017.0,4.0,NaN,"Death may be the great equalizer, but it isn’t..."
4,4,17287,Kim Jong-un Says North Korea Is Preparing to T...,New York Times,Choe Sang-Hun,2017-01-02,2017.0,1.0,NaN,"SEOUL, South Korea — North Korea’s leader, ..."

In [12]:
delete_cols=["url","id","publication","author","date","year","month"]
df_articles_1.drop(delete_cols,axis=True,inplace=True)

In [13]:
df_articles_1.shape

(50000, 3)

In [14]:
df_articles_1.head(5)

,Unnamed: 0,title,content
0,0,House Republicans Fret About Winning Their Hea...,WASHINGTON — Congressional Republicans have...
1,1,Rift Between Officers and Residents as Killing...,"After the bullet shells get counted, the blood..."
2,2,"Tyrus Wong, ‘Bambi’ Artist Thwarted by Racial ...","When Walt Disney’s “Bambi” opened in 1942, cri..."
3,3,"Among Deaths in 2016, a Heavy Toll in Pop Musi...","Death may be the great equalizer, but it isn’t..."
4,4,Kim Jong-un Says North Korea Is Preparing to T...,"SEOUL, South Korea — North Korea’s leader, ..."

In [15]:
df_articles_1.to_csv(path+"\\real_1.csv",index=False,encoding="utf8")