In [1]:
from os import listdir
from os.path import isfile, join
import pandas as pd

path_base_original_real="C:\dataset\original_dataset\\real"
path_base_original_fake="C:\dataset\original_dataset\\fake"
fullpath_fake=path_base_original_fake+"\\fake.csv"
path_base_modified="C:\dataset\processed_datatset"
fullpath_modified=path_base_modified+"\\total_dataset.csv"
path_modified_onlyreal=path_base_modified+"\\real_dataset.csv"
path_modified_onlyfake=path_base_modified+"\\fake_dataset.csv"

In [2]:
from nltk.tokenize import word_tokenize
import re 
import nltk
# nltk.download('stopwords')
from nltk.corpus import stopwords 
from nltk.stem.porter import PorterStemmer
from gensim.models import word2vec
from nltk.stem import WordNetLemmatizer 
lemmatizer = WordNetLemmatizer() 
# nltk.download('wordnet')

In [3]:
def cleaningbody(txt):
#     review = txt.split()
    review = re.sub('[^a-zA-Z]', ' ', txt) # Cleans all except characters
    review = review.lower()
    review=word_tokenize(review)
#     review = review.split()
    review = [ lemmatizer.lemmatize(word) for word in review if not word in set(stopwords.words('english'))  if len(word)>=3  ]
#     if review.size()<
#     ps = PorterStemmer()
#     review = [ps.stem(word) for word in review if not word in set(stopwords.words('english'))]
    if len(review)<30:
        return None
    return review

In [4]:
path_base="C:\dataset"
# path_modified_onlyreal
smallerset_real=path_base+"\\smallerset_real_09.csv"
df_real=pd.read_csv(path_modified_onlyreal ,usecols=[1])
df_real_sample =df_real.sample(n=3000)
df_real_sample.dropna()
df_real_sample['content'] = df_real_sample['content'].apply(lambda x: cleaningbody(x))
df_real_sample.dropna()
# df_real_sample.to_csv(smallerset_real,index=False,encoding="utf8")

                                                  content
39802   [cnn, former, new, york, gov, mario, cuomo, ro...
69943   [kristen, stewart, star, upcoming, film, caf, ...
25606   [dortmund, germany, subject, pickup, line, ger...
139449  [republican, party, turmoil, wednesday, party,...
871     [washington, document, carried, title, roadmap...
...                                                   ...
97437   [people, call, black, snake, evil, say, tressa...
136654  [akron, ohio, presidential, hopeful, party, ma...
120309  [chipmaker, broadcom, limited, antitrust, appr...
116754  [snap, prepares, planned, stock, market, debut...
23204   [former, president, bill, clinton, tense, inte...

[2958 rows x 1 columns]

In [6]:
print(df_real_sample.shape)
df_real_sample.isnull().sum().sum()

(3000, 1)

42

In [8]:
bool_have_null =pd.isnull(df_real_sample['content'])
df_real_sample[bool_have_null]

       content
114684    None
66436     None
54883     None
65678     None
44298     None
139301    None
29463     None
42746     None
18782     None
62125     None
11023     None
64329     None
115314    None
14598     None
41442     None
40183     None
62483     None
66389     None
66043     None
115548    None
111250    None
66311     None
49762     None
64254     None
31137     None
140405    None
42876     None
43176     None
29314     None
46080     None
42107     None
49685     None
61962     None
16723     None
46839     None
76303     None
48798     None
40472     None
66417     None
8424      None
45587     None
46728     None

In [11]:
df_real_sample.dropna(inplace=True)
df_real_sample

                                                  content
39802   [cnn, former, new, york, gov, mario, cuomo, ro...
69943   [kristen, stewart, star, upcoming, film, caf, ...
25606   [dortmund, germany, subject, pickup, line, ger...
139449  [republican, party, turmoil, wednesday, party,...
871     [washington, document, carried, title, roadmap...
...                                                   ...
97437   [people, call, black, snake, evil, say, tressa...
136654  [akron, ohio, presidential, hopeful, party, ma...
120309  [chipmaker, broadcom, limited, antitrust, appr...
116754  [snap, prepares, planned, stock, market, debut...
23204   [former, president, bill, clinton, tense, inte...

[2958 rows x 1 columns]

In [12]:
bool_have_null =pd.isnull(df_real_sample['content'])
df_real_sample[bool_have_null]

Empty DataFrame
Columns: [content]
Index: []

In [13]:
#path_modified_onlyfake
smallerset_fake=path_base+"\\smallerset_fake_09.csv"
df_fake=pd.read_csv(path_modified_onlyfake,usecols=[1])
df_fake_sample =df_real.sample(n=3000)
df_fake_sample.dropna(inplace=True)
df_fake_sample['content'] = df_fake_sample['content'].apply(lambda x: cleaningbody(x))
df_fake_sample.dropna(inplace=True)
# df_fake_sample.to_csv(smallerset_fake,index=False,encoding="utf8")

In [14]:
df_fake_sample.shape

(2959, 1)

In [15]:
df_fake_sample.isnull().sum().sum()

0

In [16]:
bool_have_null =pd.isnull(df_fake_sample['content'])
df_fake_sample[bool_have_null]

Empty DataFrame
Columns: [content]
Index: []

In [17]:
df_fake_sample.dropna(inplace=True)
df_fake_sample

                                                  content
105974  [new, york, mayor, bill, blasio, plan, close, ...
70995   [watch, video, video, message, released, monda...
37094   [cnn, finally, know, video, workshop, frank, o...
77363   [senate, democrat, eliminated, filibuster, app...
116621  [chemchina, cnncc, set, secure, conditional, a...
...                                                   ...
77573   [fall, aleppo, week, barack, obama, leaf, offi...
120289  [financial, technology, firm, brazil, targetin...
31853   [washington, cnn, sen, jeff, merkley, announce...
25165   [congressman, kevin, cramer, say, ready, fight...
65636   [president, obama, choice, merrick, garland, s...

[2959 rows x 1 columns]

In [20]:
df_real_sample['content'] =[  ' '.join(l)  for l in df_real_sample['content'] ]
df_fake_sample['content'] =[  ' '.join(l)  for l in df_fake_sample['content'] ]

In [22]:
df_real_sample.to_csv(smallerset_real,index=False,encoding="utf8")
df_fake_sample.to_csv(smallerset_fake,index=False,encoding="utf8")

In [25]:
df_real_sample['label']=1
df_fake_sample['label']=0
df=pd.concat([df_real_sample,df_fake_sample])
df.sample(frac=1)
y=df.label
df=df.drop('label',axis=1)

In [29]:
from sklearn.model_selection import train_test_split

from sklearn.feature_extraction.text import CountVectorizer
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.feature_extraction.text import HashingVectorizer

from sklearn.naive_bayes import MultinomialNB
from sklearn import svm
from sklearn.naive_bayes import GaussianNB

from sklearn import metrics

In [35]:
xtrain,xtest,ytrain,ytest= train_test_split(df['content'],y,test_size=0.05,random_state=60)

In [51]:
countvectorizer =CountVectorizer(stop_words='english' , max_features=10000)
ctrainx=countvectorizer.fit_transform(xtrain)
ctestx=countvectorizer.transform(xtest)
print(ctrainx.shape)
print(ctestx.shape)

(5621, 10000)
(296, 10000)

In [54]:
tfidf_vectorizer = TfidfVectorizer( max_df=0.7 ,max_features=8000)
ttrainx = tfidf_vectorizer.fit_transform(xtrain)
ttestx = tfidf_vectorizer.transform(xtest)
print(ttrainx.shape)
print(ttestx.shape)

(5621, 8000)
(296, 8000)

In [55]:
# MultinomialNB    count vector
classifier =MultinomialNB(alpha=0.03)
classifier.fit(ctrainx,ytrain)
ctestres=classifier.predict(ctestx)
score =metrics.accuracy_score(ytest,ctestres)
score

0.42567567567567566

In [56]:
# MultinomialNB    tfidf vector
classifier =MultinomialNB(alpha=0.03)
classifier.fit(ttrainx,ytrain)
ttestres=classifier.predict(ttestx)
score =metrics.accuracy_score(ytest,ttestres)
score

0.4527027027027027

In [65]:
# clf = svm.SVC(kernel='linear')
# clf = svm.SVC(kernel='rbf' ,C=1 ,gamma=0.1)   # kernel='rbf'
# clf = svm.SVC(kernel='sigmoid')   #sigmoid 
clf = svm.SVC(kernel='poly' ,degree=2 ,C=1 ,gamma=0.1)  #kernel  =poly
clf.fit(ttrainx, ytrain)
y_pred = clf.predict(ttestx)

In [66]:
score=metrics.accuracy_score(ytest,y_pred)
score

0.5