In [1]:
from os import listdir
from os.path import isfile, join
import pandas as pd

path_base_original_real="C:\dataset\original_dataset\\real"
path_base_original_fake="C:\dataset\original_dataset\\fake"
fullpath_fake=path_base_original_fake+"\\fake.csv"
path_base_modified="C:\dataset\processed_datatset"
fullpath_modified=path_base_modified+"\\total_dataset.csv"
path_modified_onlyreal=path_base_modified+"\\real_dataset.csv"
path_modified_onlyfake=path_base_modified+"\\fake_dataset.csv"

In [2]:
from nltk.tokenize import word_tokenize
import re 
import nltk
# nltk.download('stopwords')
from nltk.corpus import stopwords 
from nltk.stem.porter import PorterStemmer
from gensim.models import word2vec
from nltk.stem import WordNetLemmatizer 
lemmatizer = WordNetLemmatizer() 
# nltk.download('wordnet')

In [3]:
def cleaningbody(txt):
#     review = txt.split()
    review = re.sub('[^a-zA-Z]', ' ', txt) # Cleans all except characters
    review = review.lower()
    review=word_tokenize(review)
#     review = review.split()
    review = [ lemmatizer.lemmatize(word) for word in review if not word in set(stopwords.words('english'))  if len(word)>=3  ]
#     if review.size()<
#     ps = PorterStemmer()
#     review = [ps.stem(word) for word in review if not word in set(stopwords.words('english'))]
    if len(review)<30:
        return None
    return review

In [4]:
path_base="C:\dataset"
# path_modified_onlyreal
smallerset_real=path_base+"\\smallerset_real_09.csv"
df_real=pd.read_csv(path_modified_onlyreal ,usecols=[1])
df_real_sample =df_real.sample(n=3000)
df_real_sample.dropna()
# df_real_sample['content'] = df_real_sample['content'].apply(lambda x: cleaningbody(x))
df_real_sample.dropna()
# df_real_sample.to_csv(smallerset_real,index=False,encoding="utf8")

                                                  content
16334   Former Secretary of State Hillary Clinton is s...
50960   Why the Planet Earth II Episode on Cities Is S...
125332   Philadelphia Federal Reserve President Patric...
65069   Republican presidential candidate Donald Trump...
35681    (CNN) Actor Anton Yelchin, 27, who played Che...
...                                                   ...
19834   Thursday in Indianapolis, IN at the Carrier fa...
45370   ’  mogul Donald Trump said on Saturday that No...
1821    The magician Derek DelGaudio sat in a Hollywoo...
176     LOS ANGELES  —   It was a surprise photo finis...
100197  They are a particularly tough audience  —   pi...

[3000 rows x 1 columns]

In [5]:
print(df_real_sample.shape)
df_real_sample.isnull().sum().sum()

(3000, 1)

0

In [6]:
bool_have_null =pd.isnull(df_real_sample['content'])
df_real_sample[bool_have_null]

Empty DataFrame
Columns: [content]
Index: []

In [7]:
df_real_sample.dropna(inplace=True)
df_real_sample

                                                  content
16334   Former Secretary of State Hillary Clinton is s...
50960   Why the Planet Earth II Episode on Cities Is S...
125332   Philadelphia Federal Reserve President Patric...
65069   Republican presidential candidate Donald Trump...
35681    (CNN) Actor Anton Yelchin, 27, who played Che...
...                                                   ...
19834   Thursday in Indianapolis, IN at the Carrier fa...
45370   ’  mogul Donald Trump said on Saturday that No...
1821    The magician Derek DelGaudio sat in a Hollywoo...
176     LOS ANGELES  —   It was a surprise photo finis...
100197  They are a particularly tough audience  —   pi...

[3000 rows x 1 columns]

In [8]:
bool_have_null =pd.isnull(df_real_sample['content'])
df_real_sample[bool_have_null]

Empty DataFrame
Columns: [content]
Index: []

In [9]:
#path_modified_onlyfake
smallerset_fake=path_base+"\\smallerset_fake_09.csv"
df_fake=pd.read_csv(path_modified_onlyfake,usecols=[1])
df_fake_sample =df_real.sample(n=3000)
df_fake_sample.dropna(inplace=True)
# df_fake_sample['content'] = df_fake_sample['content'].apply(lambda x: cleaningbody(x))
df_fake_sample.dropna(inplace=True)
# df_fake_sample.to_csv(smallerset_fake,index=False,encoding="utf8")

In [10]:
df_fake_sample.shape

(3000, 1)

In [11]:
df_fake_sample.isnull().sum().sum()

0

In [12]:
bool_have_null =pd.isnull(df_fake_sample['content'])
df_fake_sample[bool_have_null]

Empty DataFrame
Columns: [content]
Index: []

In [13]:
df_fake_sample.dropna(inplace=True)
df_fake_sample

                                                  content
96998   As the wheels of Trumplandia continue to spin,...
62758   Four weeks after a TV appearance by a former O...
13908   NEW YORK (AP)  —   You’d think Twitter would b...
93078   KISSIMMEE, Fla.  —   Former Seattle Seahawks q...
94310   Wells Fargo said Tuesday it would eliminate al...
...                                                   ...
30100   Hurricane Matthew could leave up to seven mill...
47747   ’  ’ ”   When   app  made its Austin debut bef...
130652   Since the 1990s, crime rates in the US have p...
37576   Istanbul (CNN) Turkey has suspended thousands ...
16359   Welcome to Breitbart News’s live updates of th...

[3000 rows x 1 columns]

In [14]:
df_real_sample['content'] =[  ' '.join(l)  for l in df_real_sample['content'] ]
df_fake_sample['content'] =[  ' '.join(l)  for l in df_fake_sample['content'] ]

In [15]:
df_real_sample.to_csv(smallerset_real,index=False,encoding="utf8")
df_fake_sample.to_csv(smallerset_fake,index=False,encoding="utf8")

In [16]:
df_real_sample['label']=1
df_fake_sample['label']=0
df=pd.concat([df_real_sample,df_fake_sample])
df.sample(frac=1)
y=df.label
df=df.drop('label',axis=1)

In [17]:
from sklearn.model_selection import train_test_split

from sklearn.feature_extraction.text import CountVectorizer
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.feature_extraction.text import HashingVectorizer

from sklearn.naive_bayes import MultinomialNB
from sklearn import svm
from sklearn.naive_bayes import GaussianNB

from sklearn import metrics

In [21]:
bool_have_null =pd.isnull(df['content'])
df[bool_have_null]

Empty DataFrame
Columns: [content]
Index: []

In [19]:
xtrain,xtest,ytrain,ytest= train_test_split(df['content'],y,test_size=0.33,random_state=53)

In [20]:
countvectorizer =CountVectorizer(stop_words='english' )
ctrainx=countvectorizer.fit_transform(xtrain)
ctestx=countvectorizer.transform(xtest)
print(ctrainx.shape)
print(ctestx.shape)

ValueError: empty vocabulary; perhaps the documents only contain stop words

In [54]:
tfidf_vectorizer = TfidfVectorizer(stop_words='english', max_df=0.7 )
ttrainx = tfidf_vectorizer.fit_transform(xtrain)
ttestx = tfidf_vectorizer.transform(xtest)
print(ttrainx.shape)
print(ttestx.shape)

(5621, 8000)
(296, 8000)

In [55]:
# MultinomialNB    count vector
classifier =MultinomialNB(alpha=0.03)
classifier.fit(ctrainx,ytrain)
ctestres=classifier.predict(ctestx)
score =metrics.accuracy_score(ytest,ctestres)
score

0.42567567567567566

In [56]:
# MultinomialNB    tfidf vector
classifier =MultinomialNB(alpha=0.03)
classifier.fit(ttrainx,ytrain)
ttestres=classifier.predict(ttestx)
score =metrics.accuracy_score(ytest,ttestres)
score

0.4527027027027027

In [65]:
# clf = svm.SVC(kernel='linear')
# clf = svm.SVC(kernel='rbf' ,C=1 ,gamma=0.1)   # kernel='rbf'
# clf = svm.SVC(kernel='sigmoid')   #sigmoid 
clf = svm.SVC(kernel='poly' ,degree=2 ,C=1 ,gamma=0.1)  #kernel  =poly
clf.fit(ttrainx, ytrain)
y_pred = clf.predict(ttestx)

In [66]:
score=metrics.accuracy_score(ytest,y_pred)
score

0.5